[Desktop Entry]
Categories=Game;
Comment[en_US]=Launch Personal Companion
Comment=Launch Personal Companion
Exec='{{ .chezmoi.homeDir }}/Downloads/personalCompanion-lin-1_3/Personal Companion (for PC!).x86_64'
GenericName[en_US]=
GenericName=
Icon=applications-games
MimeType=
Name[en_US]=Personal Companion
Name=Personal Companion
Path={{ .chezmoi.homeDir }}/Downloads/personalCompanion-lin-1_3
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
