[ActionPlugins][0]
RightButton;NoModifier=org.kde.contextmenu

[ActionPlugins][1]
RightButton;NoModifier=org.kde.contextmenu

[Containments][1]
ItemGeometries-1280x720=
ItemGeometries-2560x1440=
ItemGeometriesHorizontal=
activityId=95635bf0-851f-4b12-a580-0846b387c3d1
formfactor=0
immutability=1
lastScreen=0
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=org.kde.image

[Containments][1][ConfigDialog]
DialogHeight=630
DialogWidth=810

[Containments][1][Wallpaper][org.kde.image][General]
Image=file://{{ .chezmoi.homeDir }}/summer.jpg
SlidePaths=/usr/share/wallpapers/

[Containments][2]
ItemGeometries-1280x720=
ItemGeometries-1920x1080=
ItemGeometries-960x540=
ItemGeometriesHorizontal=
activityId=95635bf0-851f-4b12-a580-0846b387c3d1
formfactor=0
immutability=1
lastScreen=1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=org.kde.image

[Containments][2][ConfigDialog]
DialogHeight=520
DialogWidth=810

[Containments][2][Wallpaper][org.kde.image][General]
Image=file://{{ .chezmoi.homeDir }}/summer.jpg
SlidePaths=/usr/share/wallpapers/

[Containments][3]
ItemGeometries-1280x720=
ItemGeometries-2560x1440=
ItemGeometriesHorizontal=
activityId=95635bf0-851f-4b12-a580-0846b387c3d1
formfactor=0
immutability=1
lastScreen=2
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=org.kde.image

[Containments][3][ConfigDialog]
DialogHeight=636
DialogWidth=1224

[Containments][3][Wallpaper][org.kde.image][General]
Image=file://{{ .chezmoi.homeDir }}/summer.jpg
SlidePaths=/usr/share/wallpapers/

[Containments56Appletsts][100][Configuration][Appearance]
compactView=true

[ScreenMapping]
itemsOnDisabledScreens=
screenMapping=
